
.price-cover{
    margin-bottom:3.75rem;
}
.custom-shape-divider-top-1706511037 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1706511037 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 30px;
}

.custom-shape-divider-top-1706511037 .shape-fill {
    fill: #FFFFFF;
}